<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" media="screen" rel="stylesheet" type="text/css" />
    <title>Shorterlinks - Create</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="center">
        <div class="main">
            <div class="header">Shorten a URL</div>
            <div id='errors'></div>
            <input id="input_n" type="text">
            <button id=btn_s>Shorten!</button>
        </div>
        <div id='rules'>
            The URL should be a completely valid URL (it should start with a protocol like http)
        </div>
        <div id=result></div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>